<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009083053499-ipk8fq7e64aaukjtj7vm2jhc6u6denpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009083053499-ipk8fq7e64aaukjtj7vm2jhc6u6denpn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1009083053499-kuabpdmo5rmkivdfibv8j4h82h7kj0sn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAw44ddOCWnLzAm3_5muvwuiMuXUDtE-Lk</string>
	<key>GCM_SENDER_ID</key>
	<string>1009083053499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paindreinnovation.screeningTools</string>
	<key>PROJECT_ID</key>
	<string>paindre-screening-tools-d014e</string>
	<key>STORAGE_BUCKET</key>
	<string>paindre-screening-tools-d014e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009083053499:ios:9ab1436c1d046643a3c09e</string>
</dict>
</plist>